<?xml version="1.0"?>
<launch>
	<!-- rviz configured with minimim visualization -->
	<node name="chess_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find gazebo_sensors_tutorial)/config/chesslab_setup_onlycameras.rviz" output="screen"/>

	<!-- this is just to make the cameras float in gazebo
		we add a virtual frame with a different name from world -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="chess_frame_broadcaster" args="0.0 0.0 0.0  0.0 0.0 0.0 world chess_frame" />
        
        <group ns="camera_right">
            <param name="publish_frequency" value="100"/>
            <param name="robot_description" command="$(find xacro)/xacro $(find gazebo_sensors_tutorial)/robot/camera_right.urdf.xacro" />
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
            <node ns="color" name="image_proc_camera_left" pkg="image_proc" type="image_proc" />
	</group>
        <group ns="camera_left">
            <param name="publish_frequency" value="100"/>
            <param name="robot_description" command="$(find xacro)/xacro $(find gazebo_sensors_tutorial)/robot/camera_left.urdf.xacro" />
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
            <node ns="color" name="image_proc_camera_right" pkg="image_proc" type="image_proc" />
        </group>
        
        <!-- plays the recorded file myrosbag.bag stored in the .ros folder-->
        <node
            pkg="rosbag"
            type="play"
            name="play"
            args="-l myrosbag.bag"
        />
</launch>
