<?xml version="1.0" ?>
<launch>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0 0 0.15 -0.499999999463 0.499999999463 -0.499976836603 0.500023163397 map depth_camera_link" />     
     
    <!-- Show in Rviz   -->   
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_sensors_tutorial)/config/kinect_coke.rviz"/> 
</launch>

